ENCRYPTION_KEY=REPLACE_openssl_rand_hex_16
AUTH_SECRET=REPLACE_openssl_rand_base64_32

POSTGRES_USER=infisical
POSTGRES_PASSWORD=infisical
POSTGRES_DB=infisical
DB_CONNECTION_URI=postgres://infisical:infisical@db:5432/infisical

REDIS_URL=redis://redis:6379

SITE_URL=http://localhost:8080